doctype html
html(ng-app="pollApp",ng-controller="userCtrl")
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.js")
        script(src="/javascripts/app.js")

        script#xdf(src="/javascripts/controllers/userCtrl.js")
        if user
            script
                var user = !{JSON.stringify(user)};
        else
            script(id="loginForm.html",type="text/ng-template")
                div.modal-header(style="text-align:center;")
                    div.col-xs-6
                        h3 Create an account
                    div.col-xs-6
                        h3 Log in
                div.modal-body
                    div.container-fluid
                        form.form-horizontal.col-xs-6(ng-submit="createAccount()")
                            div.form-group
                                label.col-xs-3.control-label Username:
                                div.col-xs-8
                                    input.form-control(type="text",ng-model="newUsername")
                            div.form-group
                                label.col-xs-3.control-label Password:
                                div.col-xs-8
                                    input.form-control(type="text",ng-model="newPassword")
                            div.form-group
                                label.col-xs-3.control-label Confirm Password:
                                div.col-xs-8
                                    input.form-control(type="text",ng-model="confirmNewPassword")
                            div.form-group
                                div.col-xs-3
                                div.col-xs-8
                                    input.btn.btn-primary.form-control(type="submit",value="Create")
                        form.form-horizontal.col-xs-6(ng-submit="logIn()")
                            div.form-group
                                label.col-xs-3.control-label Username:
                                div.col-xs-8
                                    input.form-control(type="text",ng-model="username")
                            div.form-group
                                label.col-xs-3.control-label Password:
                                div.col-xs-8
                                    input.form-control(type="text",ng-model="password")
                            div.form-group
                                div.col-xs-3
                                div.col-xs-8
                                    input.btn.btn-primary.form-control(type="submit",value="Log in")
                    div.modal-footer

        block scripts
    body
        nav.navbar.navbar-inverse
            div.container-fluid
                a.navbar-brand(href="/") Poll App
                ul.nav.navbar-nav
                    li: a(href="/polls") Polls
                ul.nav.navbar-nav.navbar-right
                    li: a(login-required, href="/login") {{user ? user.name : 'Log in'}}
        div.container
            block content
