script.
	var discussion = !{JSON.stringify(discussion)};
script(src="/javascripts/controllers/discussionCtrl.js")

script(id="comment.html",type="text/ng-template")
	div.panel-heading.clearfix
		a.pull-left(href="/users/{{comment.User.name}}") {{comment.User.name}}
		div.pull-right {{comment.createdAt}}
	div.panel-body
		p {{comment.text}}
		button.btn.btn-default(ng-click="comment.replyBox = !comment.replyBox" ng-if="currentUser" ng-show="!comment.replyBox" style="margin-bottom:10px") Reply
		div.panel.panel-default(ng-if="comment.replyBox")
			div.panel-heading.clearfix
				label Reply
				button.btn.btn-default.pull-right(ng-click="comment.replyBox = false") Cancel
			div.panel-body
				div.alert.alert-danger(ng-if="comment.error") {{comment.error}}
				textarea.form-control(ng-model="comment.replyText" rows="4" ng-maxlength="40000")
				button.form-control.btn.btn-default(type="button" ng-click="submitReply(comment);comment.replyBox=false;" ng-disabled="!comment.replyText || comment.replyText.length>40000") Submit
		ul.list-unstyled(ng-if="comment.Comments")
			li.panel.panel-default(ng-repeat="comment in comment.Comments | orderBy : '-createdAt'" ng-include="'comment.html'")

div.row(ng-controller="discussionCtrl")
	h2 Comments
	ul.list-unstyled
		li.panel(ng-if="currentUser"): button.btn.btn-default(ng-click="discussion.commentBox = !discussion.commentBox") New Comment
		li.panel.panel-default(ng-if="discussion.commentBox")
			div.panel-heading.clearfix
				label New Comment
				button.btn.btn-default.pull-right(ng-click="discussion.commentBox = false") Cancel
			div.panel-body
				div.alert.alert-danger(ng-if="discussion.error") {{discussion.error}}
				textarea.form-control(ng-model="$parent.commentText" rows="4" ng-maxlength="40000")
				button.form-control.btn.btn-default(type="button" ng-click="submitComment()" ng-disabled="!$parent.commentText || $parent.commentText.length>40000") Submit
		li.panel.panel-default(ng-repeat="comment in discussion.Comments | orderBy : '-createdAt'" ng-include="'comment.html'")