extends ../layout

block scripts
	script.
		var polls = !{JSON.stringify(polls)};
	script(src="/javascripts/controllers/pollListCtrl.js")

block content
	div(ng-controller="pollListCtrl")
		h1 Polls

		div.row
			div.col-xs-5
				a.btn.btn-default(href="polls/new") New Poll
			div.col-xs-7
				input.form-control(type="text",ng-model="query",placeholder="Search")

		div.row: div.col-xs-12: hr

		div.row
			ul(ng-switch="polls.length")
				li(ng-switch-when="0") No polls in the database. Would you like to #[a(href="polls/new") Create one?]
				li(ng-switch-default ng-repeat="poll in polls | filter:query")
					
				//-angular filtering here wouldn't work for a large list.