extends ../layout

block head
	script.
		var poll = !{JSON.stringify(poll)};
	script(src="/javascripts/controllers/pollCtrl.js")

block content
	div.row(ng-controller="pollCtrl")
		h1 {{poll.name}}
		div.form-horizontal.col-xs-8
			ul.list-group
				li.list-group-item(ng-repeat="option in poll.Options")
					div.container-fluid
						div.row
							h2.pull-left {{option.name}}
							h2.pull-right Votes: {{option.voteCount}}
						div.row(ng-if="option.description"): p {{option.description}}
	include ../discussions/discussion