extends ../layout

block scripts
	script.
		var poll = {
			name: '#{poll.name}',
			description: '#{poll.description}',
			Options: []
		};
		
	each option in poll.Options
		script.
			poll.Options.push({name: "#{option.name}", description: "#{option.description}"})
	script(src="/javascripts/controllers/pollCtrl.js")

block content
	div(ng-controller="pollCtrl")
		h1 {{poll.name}}
		ul.options
			li.option(ng-repeat="option in poll.Options")
				h2 {{option.name}}
				p {{option.description}}

