doctype html
html(ng-app="pollApp",ng-controller="userCtrl")
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.js")
        script(src="/javascripts/app.js")

        script(src="/javascripts/controllers/userCtrl.js")
        if currentUser
            script.
                var currentUser = !{JSON.stringify(currentUser)};
        else
            script(id="loginForm.html",type="text/ng-template")
                div.modal-header.text-center
                    div.col-xs-6
                        h3 Create an account
                    div.col-xs-6
                        h3 Log in
                div.modal-body
                    div.container-fluid
                        form.form-horizontal.col-xs-6(ng-if="!accountCreated",name="registerForm",ng-submit="createAccount()",novalidate)
                            div.form-group(ng-class="{'has-error' : (registerForm.newUsername.$invalid && !registerForm.newUsername.$pristine) || accountCreationError}")
                                label.col-xs-3.control-label Username:
                                div.col-xs-8
                                    input.form-control(type="text",name="newUsername",ng-model="$parent.$parent.newUsername",required,ng-maxlength="20")
                                    p.help-block(ng-if="registerForm.newUsername.$error.required && !registerForm.newUsername.$pristine") Username is required.
                                    p.help-block(ng-if="registerForm.newUsername.$error.maxlength") 20 character limit
                                    p.help-block(ng-if="accountCreationError") {{accountCreationError}}
                            div.form-group(ng-class="{'has-error' : registerForm.newPassword.$invalid && !registerForm.newPassword.$pristine}")
                                label.col-xs-3.control-label Password:
                                div.col-xs-8
                                    input.form-control(type="password",name="newPassword",ng-model="$parent.$parent.newPassword",required,ng-maxlength="128")
                                    p.help-block(ng-if="registerForm.newPassword.$error.required && !registerForm.newPassword.$pristine") Password is required.
                                    p.help-block(ng-if="registerForm.newPassword.$error.maxlength") 128 character limit
                            div.form-group(ng-class="{'has-error' : (registerForm.confirmNewPassword.$invalid || newPassword!=confirmNewPassword) && !registerForm.confirmNewPassword.$pristine}")
                                label.col-xs-3.control-label Confirm Password:
                                div.col-xs-8
                                    input.form-control(type="password",name="confirmNewPassword",ng-model="$parent.$parent.confirmNewPassword",required,ng-maxlength="128")
                                    p.help-block(ng-if="registerForm.confirmNewPassword.$error.required && !registerForm.confirmNewPassword.$pristine") Password confirmation is required.
                                    p.help-block(ng-if="registerForm.confirmNewPassword.$error.maxlength") 128 character limit
                                    p.help-block(ng-if="confirmNewPassword && !registerForm.confirmNewPassword.$pristine && newPassword!=confirmNewPassword") Passwords do not match.
                            div.form-group
                                div.col-xs-3
                                div.col-xs-8
                                    input.btn.btn-primary.form-control(type="submit",ng-disabled="registerForm.$invalid || newPassword!=confirmNewPassword",value="Create")
                        div.col-xs-6(ng-if="accountCreated")
                            div.alert.alert-success.text-center
                                p {{accountCreated}}
                        form.form-horizontal.col-xs-6(name="loginForm",ng-submit="login()")
                            div.form-group(ng-class="{'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine}")
                                label.col-xs-3.control-label Username:
                                div.col-xs-8
                                    input.form-control(type="text",name="username",ng-model="$parent.username",required)
                                    p.help-block(ng-if="loginForm.username.$error.required && !loginForm.username.$pristine") Username is required.
                            div.form-group(ng-class="{'has-error' : (loginForm.password.$invalid && !loginForm.password.$pristine) || loginError}")
                                label.col-xs-3.control-label Password:
                                div.col-xs-8
                                    input.form-control(type="password",name="password",ng-model="$parent.password",required)
                                    p.help-block(ng-if="loginForm.password.$error.required && !loginForm.password.$pristine") Password is required.
                                    p.help-block(ng-if="loginError") {{loginError}}
                            div.form-group
                                div.col-xs-3
                                div.col-xs-8
                                    input.btn.btn-primary.form-control(type="submit",ng-disabled="loginForm.$invalid",value="Log in")
                    div.modal-footer

        block head
    body
        nav.navbar.navbar-inverse
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Poll App
                div#navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li: a(href="/polls") Polls
                    ul.nav.navbar-nav.navbar-right(ng-if="currentUser")
                        li: a(href="/users/{{currentUser.name}}")
                            span.glyphicon.glyphicon-user
                            |  {{currentUser.name}}
                        li: a(ng-click="logout()", href="javascript:window.location.href=window.location.href")
                            span.glyphicon.glyphicon-log-out
                            |  Log out
                    ul.nav.navbar-nav.navbar-right(ng-if="!currentUser")
                        li: a(login-required, href="javascript:window.location.href=window.location.href")
                            span.glyphicon.glyphicon-log-in
                            |  Log in
        div.container
            if displayError
                div.alert.alert-danger
                    if displayError.constructor==String
                        =displayError
                    else if displayError.constructor==Array
                        each e in displayError
                            p=e
            block content
