div
	.panel.panel-default
		.panel-heading
			h1 Polls

			.row
				.col-xs-5
					a.btn.btn-default(login-required href="polls/new") New Poll
				.col-xs-7
					input.form-control(type="text" ng-model="query.name" placeholder="Search")

		table.panel-body.table.table-bordered(ng-switch="polls.length")
			tr(ng-switch-when="0"): td No polls found.
			tr(ng-switch-default)
				th(width="60%") Question
				th(width="20%") Created by
				th(width="20%") Started
			tr(ng-switch-default ng-repeat="poll in polls | filter:query")
				td: a(ui-sref="poll({ id: poll.id })") {{poll.name}}
				td: a(ui-sref="user({ name: poll.User.name })") {{poll.User.name}}
				td {{poll.createdAt}}
			//-angular filtering here wouldn't work for a large list.