div(ng-if="poll")
	.panel.panel-default
		.panel-heading
			h1.text-center {{poll.name}}
			.text-center
				p {{poll.description}}
				p
					| Created by 
					a(ui-sref="user({ name: poll.User.name })") {{poll.User.name}}
		.panel-body
			.row
				.col-md-10.col-md-offset-1
					.panel
						ul.list-group(ng-if="!poll.Options[0].hasOwnProperty('voteCount')")
							li.list-group-item(ng-repeat="option in poll.Options")
								.row
									.col-xs-7.col-xs-offset-1
										h2 {{option.name}}
										p {{option.description}}
									.col-xs-3
										h2: button.btn-primary.form-control(ng-click="vote(option)") Vote
						ul.list-group(ng-if="poll.Options[0].hasOwnProperty('voteCount')")
							li.list-group-item(ng-repeat="option in poll.Options")
								.row
									.col-xs-7.col-xs-offset-1
										h2 {{option.name}}
										p {{option.description}}
									.col-xs-3
										h2.pull-right Votes: {{option.voteCount}}
			div(ng-if="poll.Options[0].hasOwnProperty('voteCount')")
				include ../discussions/discussion